* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #5D1010;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    height: 58.5vh;
    border-radius: 42px 0 42px 42px;
    background-image: url(/LNP-Devs/Register/img/Group\ 5.png);
    background-position:2%;
}

.register-area-container{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 50%; 
    height: 58.5vh;
}

.register-area{
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: 43vh;
}

.title-area{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 100%;
    height: 7vh;
}

.title-area h1{
    font-family: 'Arial Narrow', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: auto;
}

.form-area{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    position: relative;
    width: 100%;
    height: 32vh;
}

.input-container {
    position: relative; 
}

.input-icon1 {
    position: absolute; 
    left: 10px; 
    top: 50%;
    transform: translateY(-65%); 
    color: white; 
}

.input-icon2 {
    position: absolute; 
    left: 10px; 
    top: 50%;
    transform: translateY(-50%); 
    color: white; 
}

input, select{
    width: 270px;
    height: 5vh;
    border: 1px solid white;
    background-color: black;
    padding-left: 40px;
    margin-bottom: 8px;
    color: white;
}


input::placeholder{
    opacity: 100%;
    color: white;
    opacity: 50%;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.register-btn{
    margin-top: 15px;
    font-size: 20px;
    width: 270px;
    height: 6vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border: 1px solid #5D1010;
    cursor:pointer;
}

.pagetitle {
    position: absolute;
    top: 2vh; 
    left: 60%;
    width: 80%;
    text-align: center;
    font-size: 24px; 
    font-weight: bold;
    border: 1px solid black;
}

.pagetitle h3{
    font-size: 25px;
    font-family:'Arial Narrow', sans-serif;
    
}

@media screen and (min-width:500px) and (max-width: 1426px) {
    #container {
        width: 60%;
        height: 73vh;
    }

    .pagetitle{
        left: 50%;
    }
}


@media screen and (max-width: 1490px) {
    #container {
        width: 50%;
    }
}


@media screen and (max-width: 1270px) {
    #container {
        width: 50%;
    }
}

@media screen and (max-width: 1170px) {
    #container {
        width: 50%;
    }

    .title-area h1{
        font-size: 25px;
    }

    .register-area-container{
        width: 60%;
    }

    .pagetitle h3{
        font-size: 22px;
    }

    .pagetitle{
        left: 45%;
    }

    .register-btn{
        font-size: 20px;
    }
}

@media screen and (min-width:563px) and (max-width: 1067px) {
    #container {
        width: 60%;
        height: 77vh;
    }
}


@media screen and (max-width: 1040px) {
    #container {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    #container {
        width: 80%;
    }
}

