* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #5d1010;
    font-family: "Inter", sans-serif;
}

header {
    background-color: #985d5d;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 0 5vh;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 15vh;
}

.logo h1 {
    font-size: 35px;
    font-family: "Inter", sans-serif;
    color: white;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 2vh;
}

.cart img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.userid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    width: 50%;
    height: 15vh;
}

.userid_space {
    display: flex;
    width: 38vh;
    height: 8vh;
    margin-left: auto;
    margin-right: 10vh;
    border-radius: 13px;
}

.user img {
    width: 4.5vh;
    height: 4.5vh;
    align-items: center;
    margin-right: 2vh;
}

.user {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.sigin {
    width: 60vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    align-items: left;
    justify-content: center;
    line-height: 3.5vh;
}

.sigin a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.sigin a:hover {
    color: #5d1010;
}

.sgsu span {
    cursor: default;
    font-weight: 500;
    color: white;
}

h4{
    width: 20vh;
    font-size: 17px;
}

.leave {
    font-size: 22px;
}

.divider{
    width: 100%;
    height: 10vh;
}

.cartTitle {
    width: 130vh;
    display: flex;
    font-size: 20px;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 3vh;
    color: white;
    justify-content: space-between;
    padding: 1vh 2vh;
}

.cartTitle img{
    width: 5vh;
    height: 5vh;
    margin-right: 2vh;
}

#cartContent {
    display: flex;
    align-items: center;  
    justify-content: flex-start; 
    width: 60%;
    height: 30vh;
    border: 1px solid white;
    margin-left: 3vh;
    margin-bottom: 3vh;
}

.imgArea {
    width: 20vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid grey;
    margin-left: 6vh;
}

.productNamePrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    color: white;
    height: 15vh;
    width: 30vh;
    padding: 1vh;
}

.productNamePrice h4 {
    font-weight: normal;
    font-size: 20px;
    margin: 0; 
}

.quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 30vh;
    width: 40vh;
    padding: 1vh;
}

.quantity h4 {
    margin: 0; 
    width: auto;
    font-size: 20px;
    font-weight: normal;
}

.qntNumber{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.removeItembtn, .removeAllcontainer {
    width: 25vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    justify-content: flex-start; 
    padding: 1vh;
    gap: 1vh;
    position: relative; 
}

.removeAllcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
    width: auto;
}

.removeItembtn img, .removeAllcontainer img {
    width: 4vh;
    height: auto;
    cursor: pointer;
}

.border {
    display: flex;
}

.removeItembtn button, #removeAll {
    background-color: #5d1010;
    color: white;
    border: none;
    padding: 0.5vh 1vh;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    margin-top: auto;
}


#removeItem {
    color: white;
    border: none;
    padding: 0.5vh 1vh;
    cursor: pointer;
    border-radius: 5px;
}

.removeItemContainer {
    display: flex;
    align-items: center;
    gap: 1vh;
    
}

.removeAllcontainer img {
    width: 4vh;
    height: auto;
    cursor: pointer;
}

.cartAndSummary {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
    gap: 2vh;
    margin-top: 2vh;
}

#summaryCepContainer {
    display: flex;
    position: absolute;
    right: 3vh;
    flex-direction: column;
    justify-content: space-between;
    gap: 3vh;
    width: 35%;
    height: auto;
}

.summaryArea, .cepArea{
    width: 70%;
    height: 25vh;
    margin: auto; 
    border: 1px solid white;
}

.summaryArea {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.summaryTitle,.cepTitle{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 5vh;
    background-color: #5d1010;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid white;
}

.summaryTitle h3, .cepTitle h3 {
    margin-left: 2vh;
}

.summaryContent {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    flex-grow: 1;
    color: white;
    justify-content: space-between;
    padding: 3vh; 
}

.subTotal, .frete, .total {
    font-size: 22px;
    font-weight: normal;
    display: flex;
    justify-content: space-between; 
}

.subTotal h4, .frete h4, .total h4 {
    margin: 0;
}

.cepContent{
    height: 30vh;
}

#cep{
    border: 1px solid white;
    background-color: #5d1010;
    width: 35vh;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 2vh;
    color: white; 
    padding-left: 5px;
}

#cep::placeholder{
    color: white;
    font-size: 20px;
    text-align: center;
}

#cepButton{
    width: 8vh;
    height: 5vh;
    margin-left: 1vh;
    color: #5d1010;
    font-size: 15px;
}

.frete-options label {
    display: flex;
    align-items: center;
    margin-bottom: 2vh; 
    color: white; 
    margin-left: 2vh;
    margin-top: 1vh;
  }
  
  .frete-options input[type="radio"] {
    margin-right: 10px; 
  }

  