* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #5d1010;
    font-family: "Inter", sans-serif;
}

header {
    background-color: #985d5d;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 0 5vh;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 15vh;
}

.logo h1 {
    font-size: 35px;
    font-family: "Inter", sans-serif;
    color: white;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 2vh;
}

.cart img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.userid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    width: 50%;
    height: 15vh;
}

.userid_space {
    display: flex;
    width: 38vh;
    height: 8vh;
    margin-left: auto;
    margin-right: 10vh;
    border-radius: 13px;
}

.user img {
    width: 4.5vh;
    height: 4.5vh;
    align-items: center;
    margin-right: 2vh;
}

.user {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.sigin {
    width: 60vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    align-items: left;
    justify-content: center;
    line-height: 3.5vh;
}

.sigin a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.sigin a:hover {
    color: #5d1010;
}

.sgsu span {
    cursor: default;
    font-weight: 500;
    color: white;
}

h4{
    width: 20vh;
    font-size: 17px;
}

.leave {
    font-size: 22px
}

#ProductsDetailstitle {
    display: flex;
    align-items: center;
    color: white;
}

#ProductsDetailstitle h1 {
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-size: 35px;
}

#containerSides {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.leftArea{
    display: flex;
    flex-direction: column;
    width: 80vh;
    height: 50vh;
}

.rightArea{
    display: flex;
    flex-direction: column;
    width: 80vh;
    height: 50vh;
}

.imgArea {
    display: flex;
    width: 60vh;
    height: 40vh;
    margin-left: 12vh;
    border: 1px solid black;
    position: relative; 
}

.rateArea {
    width: 8vh; 
    height: 3vh; 
    color: black;
    background-color: white;
    border:1px solid black;
    display: flex;
    align-items: flex-start;
    position: absolute; 
    top: 0;
    right: 0; 
}

.rateArea p{
    margin: auto;
}

#productName{
    width: 50vh;
    font-size: 30px;
    margin-top: 2vh;
    margin-left: 12vh;
    color: white;
}

.priceAndButton {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 100%;
}

.priceArea {
    display: flex;
    justify-content: center;
    width: 50vh;
    justify-content: flex-start;
    font-size: 30px;
    height: 7vh;
    font-weight: bold;
    color: white;
    margin-bottom: 5vh; 
}

.priceArea h3{
    line-height: 7vh;  
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
}

#buyButton{
    width: 50vh;
    height: 5vh;
    background-color: white;
    color: #5d1010;
    font-size: 20px;
    border: 2px solid black;
    cursor: pointer;
    margin-top: auto;
}

#buyButton:hover{
    background-color: #b1b1b1;
}

#containerBottom {
    width: 160vh;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #8D5757; 
}

.descriptionTitleArea{
    width: 160vh;
    height: 6vh;
    display: flex;
    align-items: center; 
    padding-left: 3vh;
    padding-top: 1vh;
    color: white;
}

.descriptionArea{
    width: 160vh;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 3vh;
    font-size: 20px;
    padding-top: 1vh;
}

#carouselExampleIndicators {
    width: 100%;
    height: 100%; 
}

.carousel-inner .carousel-item img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}