* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #5d1010;
    font-family: "Inter", sans-serif;
}

header {
    background-color: #985d5d;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 0 5vh;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 15vh;
}

.logo h1 {
    font-size: 35px;
    font-family: "Inter", sans-serif;
    color: white;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 2vh;
}

.cart img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.userid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    width: 50%;
    height: 15vh;
}

.userid_space {
    display: flex;
    width: 25vh;
    height: 8vh;
    margin-left: auto;
    margin-right: 10vh;
    border-radius: 13px;
}

.user img {
    width: 4.5vh;
    height: 4.5vh;
    align-items: center;
    margin-right: 2vh;
}

.user {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}

.sigin {
    width: 60vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    align-items: left;
    justify-content: center;
    line-height: 3.5vh;
}

.sigin a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.sigin a:hover {
    color: #5d1010;
}

.sgsu span {
    cursor: default;
    font-weight: 500;
    color: white;
}

.leave {
    font-size: 22px
}

#ProductsDetailstitle {
    display: flex;
    background-color: darkblue;
    align-items: center;
    color: white;
}

#ProductsDetailstitle h1 {
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    font-size: 35px;
}

.container {
    width: 195vh;
    height: 74vh;
    margin: auto;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: column;
    /* Mantém a direção dos elementos em coluna */
    padding: 2vh;
}

.prodName {
    font-size: 24px;
    color: white;
    margin-bottom: 2vh;
}

.img_space {

    width: 70vh;
    height: 40vh;
    background-color: lightgray;
    background-color: lightgray;
    display: flex;
    justify-content: flex-start;
}

.valuearea {
    width: 30%;
    height: 10vh;
    background-color: red;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.valuearea p {
    margin: 0;
}