@font-face {
  font-family: "Inter";
  src: url("../font/Inter/static/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5d1010;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 110vh;
  height: 83vh;
  border-radius: 42px 0 42px 42px;
  background-color: #b18c8c;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 58.5vh;
}

.pagetitle {
  width: auto;
  height: auto;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  border: 1px solid black;
  padding: 10px;
  margin-left: 18vh;
  margin-bottom: 1vh;
}

.pagetitle h3 {
  font-size: 25px;
  font-family: "Arial Narrow", sans-serif;
}

form {
  width: 60%;
}

.form-area {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 4vh;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-container label {
  font-size: 14px;
  color: white;
}

input {
  width: 56vh;
  height: 5vh;
  border: 1px solid white;
  background-color: black;
  padding-left: 20px;
  margin-bottom: -1px;
  color: white;
}

textarea {
  width: 56vh;
  height: 8vh;
  border: 1px solid white;
  background-color: black;
  padding-left: 30px;
  margin-bottom: 5px;
  color: white;
  resize: vertical;
}

textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "Inter";
  line-height: 8vh;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-family: "Inter";
}

.descricao {
  height: 10vh;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 2vh;
}

input[type="file"] {
  display: none;
}

button[type="submit"] {
  display: inline-block;
  background-color: white;
  color: black;
  border: 1px solid rgb(104, 0, 0);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin-left: 20vh;
  margin-top: -1vh;
}

.custom-file-upload {
  display: inline-block;
  background-color: white;
  color: black;
  border: 1px solid rgb(104, 0, 0);
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin-left: 20vh;
  margin-top: -2vh;
}

.custom-file-upload:hover {
  background-color: rgb(224, 224, 224);
}

button {
  background-color: white;
  color: black;
  border: 1px solid rgb(104, 0, 0);
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 25vh;
  margin-top: 0vh;
  margin-left: 20vh;
}

button:hover {
  background-color: rgb(224, 224, 224);
}

#bootstrap-container {
  width: 40%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  margin-left: 3vh;
}

.input-container-select {
  width: 80%;
  margin-right: auto;
}

.input-container-select {
  align-self: flex-end; 
  width: 100%;
  margin-top: 20px; 
}