* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #5d1010;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  height: 58.5vh;
  border-radius: 42px 0 42px 42px;
  background-image: url(../img/table/Group\ 5.png);
  background-position: 2%;
}

.table-area-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 58.5vh;
}

.table-area {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  height: 43vh;
}

.pagetitle {
  position: absolute;
  top: 2vh;
  left: 10%;
  width: 80%;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid black;
}

.pagetitle h3 {
  font-size: 25px;
  font-family: "Arial Narrow", sans-serif;
}

.search-area {
  position: relative;
  width: 100%;
  height: 5vh;
  border-radius: 5px;
  margin-top: 1vh;
}

#search {
  width: calc(100% - 40px);
  height: 5vh;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px 0 0 5px;
  padding: 0 10px;
  box-shadow: 1px 1px 1px 1px grey;
}

#search-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

#search-button img {
  width: 80%;
  height: auto;
}

.table-scroll {
  overflow-x: auto;
  width: 100%;
  max-height: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 3vh;
}

th {
  background-color: #b0aeae;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 2;
}

th,
td {
  padding: 15px;
  text-align: center;
  font-size: 17px;
  font-family: "Arial Narrow", Arial, sans-serif;
  white-space: nowrap;
  border: 2px solid #b18c8c;
}

tr {
  background-color: #f9f9f9;
}

tbody {
  display: table-row-group;
  max-height: 450px;
  overflow-y: auto;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 6vh;
  padding: 20px;
}

#newuser-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  margin-left: -22px;
}

#newuser-button img {
  width: 20px;
  height: auto;
  margin-right: 5px;
}

#close-btn {
  display: flex;
  width: 30%;
  align-items: center;
  justify-items: center;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  margin-left: 20px;
  height: 4.5vh;
  display: none;
}

#close-btn b {
  margin: auto;
}

@media screen and (min-width: 500px) and (max-width: 1600px) {
  #container {
    width: 46%;
    height: 80vh;
  }

  .pagetitle {
    left: 10%;
    top: -30px;
  }

  #search {
    height: 8vh;
  }

  table {
    margin-top: 5vh;
  }

  th {
    font-size: 15px;
  }

  #newuser-button {
    margin-top: 20vh;
  }
}

@media screen and (min-width: 800px) and (max-width: 1270px) {
  #container {
    width: 70%;
    height: 80vh;
  }

  .table-area-container {
    width: 90%;
  }

  .pagetitle {
    left: 10%;
    top: 10px;
  }

  #newuser-button {
    margin-top: 1vh;
  }
}

@media screen and (max-width: 1000px) {
  #container {
  }

  .pagetitle {
    left: 13%;
  }

  #search {
    height: 5vh;
    width: calc(100% - 40px);
  }

  table {
    width: 110%;
  }
}
