* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #5D1010;
}

#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    height: 58.5vh;
    border-radius: 42px 0 42px 42px;
    background-image: url(/LinkPage/img/Group\ 5.png);
    background-position:2%;
}

.link-area-container{
    position: relative;
    display: flex;
    flex-direction: block;
    width: 50%; 
    height: 58.5vh;
}

.link-area-m{
    margin: auto;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: 43vh;
}

.title-area{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    width: 100%;
    height: 7vh;
    border: 1px solid black;
}

.title-area h1{
    font-family: 'Arial Narrow', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: auto;
}

.link-area-son {
    display: flex;
    flex-direction: column; 
    margin: auto;
    align-items: flex-start;
    justify-content: space-between; 
    width: 100%;
    height: 32vh;
}

.link-item {
    display: flex; 
    align-items: center; 
    width: auto; 
    height: 30%; 
    margin-left: 10px;
}

.link-item img {
    margin-right: 10px; 
    height: 20px; 
}

.link-area-son a {
    text-decoration: none; 
    color: white;
    flex-grow: 1; 
    font-family:  'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.link-area-son a:hover {
    color: #555555;
}   


@media screen and (min-width:500px) and (max-width: 1426px) {
    #container {
        width: 60%;
        height: 73vh;
    }

}


@media screen and (max-width: 1490px) {
    #container {
        width: 50%;
    }
}


@media screen and (min-width:800px) and (max-width: 1400px) {
    #container {
        
            width: 70%;
            height: 80vh;
        
    }
}

@media screen and (max-width: 1170px) {
    #container {
        width: 50%;
    }
}

@media screen and (min-width:563px) and (max-width: 1067px) {
    #container {
        width: 60%;
        height: 77vh;
    }
}


@media screen and (max-width: 1040px) {
    #container {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    #container {
        width: 80%;
    }
}

